@font-face {
    font-family: 'Kano';
    src: url('fonts/Kano.otf');
}

body{
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

background-left{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:50%;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
    background: #f5b4b2;
    width: 50%;
}

background-right{
    position: fixed;
    top:0;
    bottom:0;
    left:50%;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
    background: #c3e2dd;
    width: 50%;
}

navbar{
    position: sticky;
    top: 0;
    background: white;
    font-family: "Kano", Fallback, sans-serif;
    display: flex;
    height: 5vh;
    width: 100%;
    align-items: center;
    box-shadow: -1px 3px 3px rgba(0, 0, 0, .4);
}

.logo{
    display: flex;
    flex-basis: 20%;
    margin-left: 5%;
    justify-content: flex-start;
    align-items: center;
}

.logo a, .logo a:hover, .logo a:active, .logo a:visited, .logo a:focus {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    flex-basis: 80%;
    align-items: center;
    font-size: 13px;
    margin-right: 5%;
    height: 20px;
}

.nav-links a{
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    margin-right: 3%;
    line-height: 20px;
}

.nav-links a:hover{
    margin-top: 2px;
    border-bottom: solid 2px #f5b4b2;
}

.active{
    margin-top: 2px;
    border-bottom: solid 2px #f5b4b2;
}

.content{
    display: flex;
    height: 95vh;
}

.content-left{
    color: white;
    flex: 0 0 auto;
    text-shadow: 0px 0px 10px rgba(73, 12, 59, .5);
    flex-basis: 50%;
}

.content-right{
    flex: 1 1 auto;
    flex-basis: 50%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: auto;
}

.whoAmI{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.whoAmI .logo{
    margin-left: 0;
    margin-top: 5%;
}

.whoAmI .title{
    font-family: "Kano", Fallback, sans-serif;
    margin-top: 2%;
    font-size: 26px;
    font-weight: bold;
}

.whoAmI line{
    margin-top: 1%;
    width: 30%;
    border: solid 0.5px white;
    border-radius: 50px;
}

.whoAmI .description{
    margin: 1% 5% 5% 5%;
    width: 45%;
}

.languages{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.languages .title{
    font-family: "Kano", Fallback, sans-serif;
    margin-top: 2%;
    font-size: 26px;
    font-weight: bold;
}

.languages line{
    margin-top: 1%;
    margin-bottom: 2%;
    width: 20%;
    border: solid 0.5px white;
    border-radius: 50px;
}

.lan-columns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lan-column{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lan-column span{
    width: 30%;
    margin-top: 2%;
    text-align: left !important;
}

.topRepositories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topRepositories .title{
    font-family: "Kano", Fallback, sans-serif;
    margin-top: 2%;
    font-size: 26px;
    font-weight: bold;
}

.topRepositories line{
    margin-top: 1%;
    margin-bottom: 2%;
    width: 20%;
    border: solid 0.5px black;
    border-radius: 50px;
}

.topRepositories .card {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-bottom: 5%;
    width: 60%;
}

.topRepositories .card img{
    border-radius: 15px 15px 0 0;
    height: auto;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.topRepositories .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.topRepositories .card .container {
    margin-top: 2%;
    padding: 2px 16px;
}

.topRepositories .card .container .title{
    font-family: Arial, Helvetica, sans-serif;
}

.topRepositories .card .container .title{
    font-size: 18px;
}